<div class="wrapper" *ngIf="showForm">
  <form [formGroup]="submitForm" (ngSubmit)="onSubmit(submitForm)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Họ tên</label>
      <input type="text" class="form-control" formControlName="hoTen">
      <div class="required"
        *ngIf="submitForm?.controls?.hoTen?.errors?.required && submitForm?.controls?.hoTen?.touched"> Required!</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Địa chỉ</label>
      <input type="text" class="form-control" formControlName="diaChi">
      <div class="required"
        *ngIf="submitForm?.controls?.diaChi?.errors?.required && submitForm?.controls?.diaChi?.touched"> Required!</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Số điện thoại</label>
      <input type="text" class="form-control" formControlName="dienThoai">
      <div class="required"
        *ngIf="submitForm?.controls?.dienThoai?.errors?.required && submitForm?.controls?.dienThoai?.touched"> Required!
      </div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="check()" formControlName="check">
      <label class="form-check-label">required</label>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Email</label>
      <input type="email" class="form-control" formControlName="email">
      <div class="required"
        *ngIf="submitForm?.controls?.email?.errors?.required && submitForm?.controls?.email?.touched"> Required!
      </div>
      <div class="required" *ngIf="submitForm?.controls?.email?.errors?.email && submitForm?.controls?.email?.touched">
        Nhập đúng định dạng gmail
      </div>
    </div>
    <div class="mb-3 flex justify-content-between">
      <label for="exampleInputEmail1" class="form-label"> Ngày sinh</label>
      <p-calendar formControlName="ngaySinh" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="mb-3">
      <label class="form-check-label" for="exampleCheck1"> Sở thích</label>
      <button type="button" class="btn btn-primary float-end" (click)="addSoThich()"> Thêm</button>
      <div formArrayName="soThich" *ngFor="let c of soThich.controls; index as i">
        <div [formGroupName]="i">
          <div class="row mt-4">
            <div class="col-5">
              <input type="text" class="form-control" placeholder="Thư tự" formControlName="thuTu">
            </div>
            <div class="col-5">
              <input type="text" class="form-control" placeholder="Tên" formControlName="ten">
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-primary" (click)="removeSoThich(i)"> Xoá</button>
            </div>
          </div>
        </div>
      </div>
      <label class="form-check-label mt-3"> Công ty</label>
      <div formGroupName="congTy">
        <input type="text" class="form-control mt-3" formControlName="tenCongTy">
        <input type="text" class="form-control mt-3" formControlName="diaChi">
      </div>
      <div class="dropdown mt-3">
        <select formControlName="gioiTinh">
          <option value=""> --Chọn giới tính--</option>
          <option value="nam"> Nam</option>
          <option value="nu"> Nữ</option>
        </select>
      </div>
      <div class="radio-button mt-3">
        <div class="flex">
          <div class="form-check ">
            <input class="form-check-input" type="radio" value="Loại 1" formControlName="loai">
            <label class="form-check-label" for="flexRadioDefault1">
              Loại 1
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="Loại 2" formControlName="loai">
            <label class="form-check-label">
              Loại 2
            </label>
          </div>
        </div>
      </div>
    </div>
    <!--  <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
    <button type="submit" class="btn btn-primary" [disabled]="submitForm.invalid"> Lưu</button>
  </form>
</div>

<div class="table-wrapper">
  <div class="button-add float-start"><button type="button" class="btn btn-primary float-end"
      (click)="adddoituong()">{{!showForm?'Thêm đối tượng' : 'Huỷ'}}</button></div>
  <div class="table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"> Thứ tự</th>
          <th scope="col"> Họ tên</th>
          <th scope="col"> Ngày sinh</th>
          <th scope="col"> Địa chỉ</th>
          <th scope="col"> Số điện thoại</th>
          <th scope="col"> Email</th>
          <th scope="col"> Sở thích</th>
          <th scope="col"> Công ty</th>
          <th scope="col"> Địa chỉ công ty</th>
          <th scope="col"> Giới tính</th>
          <th scope="col"> Loại </th>
          <th scope="col"> Chức năng </th>
        </tr>
      </thead>
      <tbody *ngFor="let item of data; index as i">
        <tr>
          <td>{{i+1}}</td>
          <td>{{item?.hoTen}}</td>
          <td>{{item?.ngaySinh| date: 'dd/MM/yyyy'}}</td>
          <td>{{item?.diaChi}}</td>
          <td>{{item?.dienThoai}}</td>
          <td>{{item?.email}}</td>
          <td *ngFor="let c of item.soThich">{{c?.ten}}</td>
          <td>{{item?.congTy?.tenCongTy}}</td>
          <td>{{item?.congTy?.diaChi}}</td>
          <td>{{item?.gioiTinh}}</td>
          <td>{{item?.loai}}</td>
          <td>
            <button type="submit" class="btn btn-primary" (click)="remove(i)"> Xoá</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>