<a routerLink="/home/home-add" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Add</a> 
<a routerLink="/home/home-detail/1" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Detail</a> 
<a routerLink="/home/home-edit/1" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Edit</a>
<a routerLink="/home/test" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Test</a>
<a routerLink="/home/test1" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> test1</a>
<a routerLink="/home/reactive-form" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Reactive Form</a>
<a routerLink="/home/template-driven-form" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Template Drien Form</a>
<a routerLink="/home/tempalte-driven-form-hai" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Template Drien Form </a>
<a routerLink="/home/reactive-form-hai" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Reactive Form</a>
<router-outlet></router-outlet> 