<!-- <a routerLink="/home/home-add" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Add</a> 
<a routerLink="/home/home-detail/1" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Detail</a> 
<a routerLink="/home/home-edit/1" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Edit</a>
<a routerLink="/home/test" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Test</a>
<a routerLink="/home/test1" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> test1</a>
<a routerLink="/home/reactive-form" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Reactive Form</a>
<a routerLink="/home/template-driven-form" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Template Drien Form</a>
<a routerLink="/home/tempalte-driven-form-hai" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Template Drien Form Hai</a>
<a routerLink="/home/reactive-form-hai" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Reactive Form Hai</a>
<a routerLink="/home/object" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Object</a>
<router-outlet></router-outlet> -->
<div class="wrapper mt-5">
    <app-menu></app-menu>
    <router-outlet>
        <p-toast position="top-right" [baseZIndex]="5000">
            <ng-template let-message pTemplate="message">
                <div class="flex flex-column" style="flex: 1">
                    <div class="text-center">
                        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                        <h4>{{message.summary}}</h4>
                        <p>{{message.detail}}</p>
                    </div>
                </div>
            </ng-template>
        </p-toast>
    </router-outlet>
</div>