<div class="container">
    <div class="row">
        <div class="col-4">
            <form (submit)="onSubmit(submitform)" #submitform="ngForm">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="name" name="name"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Des</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="description"
                        name="description">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Url</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="url" name="url">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-8">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Name </th>
                        <th scope="col">Description</th>
                        <th scope="col">Url</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of listProduct; index as i">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{item?.name}}</td>
                        <td>{{item?.description}}</td>
                        <td> <img [src]="item?.url" [alt]="item?.img" style="width:200px; height:200px"></td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple type="button" icon="pi pi-prime"
                                    class="p-button-rounded p-button-info mr-2" style="width:30px ;height: 30px;"
                                    (click)="handleShowDetail(item)"></button>
                                <button pButton pRipple type="button" icon="pi pi-pencil"
                                    style="width:30px ;height: 30px;" class="p-button-rounded p-button-success mr-2"
                                    (click)="showDialogEdit(item)"></button>
                                <button pButton pRipple type="button" icon="pi pi-trash"
                                    style="width:30px ;height: 30px;" class="p-button-rounded p-button-danger mr-2"
                                    (click)="onDelete(item)"></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-dialog header="Chỉnh sửa sản phẩm" [(visible)]="showDetail" [modal]="true" [style]="{width: '50vw'}"
    [closeOnEscape]="true">
    <app-home-detail *ngIf="showDetail" [detail]="dataDetail"></app-home-detail>
</p-dialog>

<p-dialog header="Chỉnh sửa thông tin sản phẩm" [(visible)]="displayEdit" [modal]="true" [style]="{width: '50vw'}" [closeOnEscape]="true">
    <app-home-edit></app-home-edit>
</p-dialog>