<!-- <div class="wrapper">
    <div class="home">
    <app-input-output [dataSlide]="dataSlide" (load)="onLoad($event)" [value]="value"></app-input-output>
    </div>
    {{giatri |json}}
</div> -->
<div class="home">
    <div class="grid">
        <div class="col-3">
            <div class="grid">
                <div class="col-4">
                    <button pButton pRipple type="button" label="set" class="p-button-raised p-button-text" (click)="set()"></button>
                    <button pButton pRipple type="button" label="remove" class="p-button-raised p-button-text mt-3" (click)="remove()"></button>
                    <button pButton pRipple type="button" icon="pi pi-compass" class="p-button-raised p-button-text mt-3" (click)="handle()"></button>
                </div>
                <div class="col-4">
                    <p-dropdown [options]="status" [(ngModel)]="user.info" optionLabel="lable" optionValue="value" (onChange)="handleChange($event)"></p-dropdown>
                </div>
                <div class="col-4">
                    <p-password [(ngModel)]="user.password" class="ml-4" [toggleMask]="true"></p-password>
                </div>
                <div class="mt-3">
                <p-autoComplete [(ngModel)]="selectItem" [suggestions]="results" (completeMethod)="search($event)">
                    <ng-template let-results pTemplate="item">
                        <div class="country-item">
                          <div>{{results.name}}</div>
                        </div>
                      </ng-template>
                </p-autoComplete>
                </div>
            </div>
        </div>
        <div class="col-3 mt-8">
            <ul *ngFor="let item of filterItem">
                <li>{{item?.name}}</li>
                <li>{{item?.age}}</li>
                <li>{{item?.status}}</li>
            </ul>
        </div>
        <div class="col-3">
            <div class="dialog">
                <p-button (click)="showDialog()" label="Show"></p-button>
                <p-dialog header="Header" [(visible)]="showDisplay" [modal]="true" [style]="{width: '50vw'}">
                    <app-thu-vien-anh (selecteImg)="handlSelectImage($event)"></app-thu-vien-anh>
                </p-dialog>
            </div>
           
            <img [src]="Urlimage || 'https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png'" alt="empty" style="width:200px" class="text-center">
            <small [ngStyle]="{'color':'red'}" *ngIf="submited && Urlimage == null">Chọn hình ảnh</small>
             <!--     validator for images -->
            <p-button (click)="xoaAnh()" label="xoá lựa chọn" [disabled]="Urlimage==null ? true : false" ></p-button>
            <div class="mt-3">
                <p-button (click)="submit()" label="gửi" ></p-button>
            </div> 
        </div>
        <div class="col-3">
            <!-- Tree-select -->
                 <p-treeSelect [(ngModel)]="user.tree" [options]="tree" [filter]="true" placeholder="Select Item"></p-treeSelect>
            <div class="mt-3">
                <p-treeSelect [(ngModel)]="user.cvTree" [options]="convertTree" placeholder="Select Item"></p-treeSelect>
            </div>
            >
        </div>
    </div>
</div>
