<div class="slider-form">
    <p-dialog header="Chọn Media" [(visible)]="showLibrary" [modal]="true" [style]="{width: '90vw', height: '50vw'}">
        <app-thu-vien-anh (selecteImg)="selectedImg($event)"></app-thu-vien-anh>
    </p-dialog>
    <form class="grid mt-3" (ngSubmit)="onSaveSlider(dataSave)" #dataSave='ngForm'>
        <div class="col-4 slider-image">
            <img [src]="detail.ImageUrl || '../../../../../assets/images/empty-image.png' " alt="img" style="width:100%">
            <label for="upload-image" (click)="showLibraryDialog()">
                <i class="pi pi-upload mr-2"></i>Ảnh đại diện
                <span class="text-red-500">*</span>
            </label>
        </div>
        <div class="col-8 pl-5">
            <div class="field">
                <span class="p-float-label p-input-icon-right">
                    <i class="pi pi-user"></i>
                    <input name="Name" [(ngModel)]="detail.Name" required #name="ngModel"
                        [ngClass]="{'p-invalid' : submited && name.errors?.required }" id="float-input-invalid"
                        pInputText>
                    <label for="name" [ngClass]="{'invalid': submited && name.errors?.required}">Tên <span
                            class="text-red-500"> *</span></label>
                </span>
                <small *ngIf="submited && name.errors?.required || (name.errors?.required && name.touched)"
                    class="p-error">Vui lòng nhập Slider</small>
            </div>
            <div class="field mt-5">
                <span class="p-float-label p-input-icon-right">
                    <i class="pi pi-user"></i>
                    <input name="Screen" [(ngModel)]="detail.Screen" required #screen="ngModel"
                        [ngClass]="{'p-invalid' : submited && screen.errors?.required }" id="float-input-invalid"
                        pInputText>
                    <label for="name" [ngClass]="{'invalid': submited && screen.errors?.required}">Màn hình
                        <span class="text-red-500"> *</span></label>
                </span>
                <small *ngIf="submited && screen.errors?.required || (screen.errors?.required && screen.touched)"
                    class="p-error">Vui lòng chọn màn hình hiển thị</small>
            </div>
            <div class="field mt-5">
                <span class="p-float-label p-input-icon-right">
                    <i class="pi pi-sort-numeric-up"></i>
                    <input name="Order" [(ngModel)]="detail.Order" required id="float-input-invalid" pInputText>
                    <label for="Order">Sắp xếp </label>
                </span>
            </div>
            <div class="field flex align-items-center mt-3">
                <p-inputSwitch name='Status' [(ngModel)]="detail.Status"></p-inputSwitch>
                <label for="content" class="ml-2">Hiển thị</label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="p-button p-component mt-2 btn-submit">
                <span class="p-button-label p-c">Lưu lại</span></button>
        </div>
    </form>
</div>