

<editor
  apiKey="sub73flglvtf89zl3sgj9p53npjrf1tukj1esufn4d25ppg7"
   [init]="{
     height: 500,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
   }"
 ></editor>
<!-- 
Step 1: Include the TinyMCE script
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

Step 2: Initialize TinyMCE as part of a web form

tinymce.init({
  selector: 'textarea#default'
});
 apiKey="sub73flglvtf89zl3sgj9p53npjrf1tukj1esufn4d25ppg7"
-->