
form {
    max-width: 500px;
    margin: 0 auto;
}
.validator {
    color:red
}
.required::after { 
    content:"*";
    color:red
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
