<div class="wrapper">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"> Họ tên</label>
          <input type="email" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"> Địa chỉ</label>
          <input type="email" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"> Số điện thoại</label>
          <input type="email" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"> Email</label>
          <input type="email" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label class="form-check-label" for="exampleCheck1"> Sở thích</label>
          <button type="button" class="btn btn-primary float-end"> Thêm</button>
         <div class="row mt-4">
             <div class="col-5">
                <input type="password" class="form-control" placeholder="Thư tự">
             </div>
             <div class="col-5">
                <input type="password" class="form-control" placeholder="Tên">
             </div>
             <div class="col-2">
                <button type="submit" class="btn btn-primary"> Xoá</button>
             </div>
         </div>
         <label class="form-check-label mt-3"> Công ty</label>
         <input type="password" class="form-control mt-3" id="exampleInputPassword1">
         <input type="password" class="form-control mt-3" id="exampleInputPassword1">
        </div>
       <!--  <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
        <button type="submit" class="btn btn-primary"> Lưu</button>
      </form>
</div>

