<div class="wapper">
    <div class="grid">
        <div class="col-3">
            <div class="menu-button">
                <button pButton pRipple type="button" icon="pi pi-list" (click)="visibleSidebar1 = true"
                    class="p-button-rounded p-button-text"></button>
            </div>
            <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
                <h3>Menu</h3>
                <p-menu [model]="items" (click)="onShowEvent()"></p-menu>
            </p-sidebar>
        </div>
        <div class="col-9 mt-4">
            <div class="boder">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>