<div class="wapper">
    <div class="grid">
        <div class="col-3">
            <div class="menu-button">
                <button pButton pRipple type="button" icon="pi pi-list" (click)="visibleSidebar1 = true"
                    class="p-button-rounded p-button-text"></button>
            </div>
            <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
                <h3>Menu</h3>
                <p-menu [model]="items" (click)="onShowEvent()"></p-menu>
                <button pButton pRipple type="button" label="Đăng xuất" class="p-button-raised p-button-text" (click)="logOut()"></button>
            </p-sidebar>
        </div>
        <div class="col-9 mt-4">
            <div class="boder">
                <router-outlet>
                    <p-toast position="center" key="c" [baseZIndex]="5000">
                        <ng-template let-message pTemplate="message">
                            <div class="flex flex-column" style="flex: 1">
                                <div class="text-center">
                                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                                    <h4>{{message.summary}}</h4>
                                    <p>{{message.detail}}</p>
                                </div>
                                <div class="grid p-fluid">
                                    
                                </div>
                            </div>
                        </ng-template>
                    </p-toast>
                </router-outlet>
            </div>
        </div>
    </div>
</div>