
::ng-deep {
    .p-menu {
        width: 100%;
        border: none;
        background: none;
    }
    .p-sidebar {
        background: rgb(78,186,193);
        background: linear-gradient(90deg, rgba(78,186,193,1) 0%, rgba(34,167,194,1) 100%);
    }
}
.menu-button {
    padding: 30px;
}